
<nav class="main-menu mobile-menu">
    <ul>
        <li><a asp-controller="home" asp-action="index">Home</a></li>
        <li>
            <a href="./categories.html">Shop</a>
            <ul class="sub-menu">
                <li><a href="product-page.html">Product Page</a></li>
                <li><a href="shopping-cart.html">Shopping Card</a></li>
                <li><a href="check-out.html">Check out</a></li>
            </ul>
        </li>
        <li><a asp-controller="about" asp-action="index">about</a></li>
        <li><a asp-controller="blog" asp-action="index">Blog</a></li>
        <li><a asp-controller="home" asp-action="Contact">Contact</a></li>
        <li><a asp-controller="home" asp-action="faq">Faq</a></li>

    </ul>
</nav>